.chat{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 8px;
   border-bottom: 1px solid whitesmoke ;
   cursor: pointer;

}
.chat_avatar{
    height: 35px !important;
    width: 35px !important;
}
.chat_readicon{
    color: red;
}
.chat:hover{
    opacity: 0.5;
}
.chat_info{
    padding-left:5px ;
    flex: 1;
}
.chat_info>h4{
    font-size: 15px;
    font-weight: 500;
}
.chat_info>p{
    font-size: 9px;
}